img{
  width:  200px;
  height: 150px;
}
body {
  background-color: #fab7b7; 
  font-family: Arial, sans-serif;
}

.mainBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  padding: 20px;
  max-width: 800px; 
  margin: auto;
}


.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  padding: 15px;
  
}